@model IEnumerable<knihaJizd.Models.Accidents>

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h1>Omlouvám se, ale nejste administrátor</h1>
    <p>Přihlašte se jako administrátor</p>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary">Odhlásit</a>
    }
</div>



