@model IEnumerable<knihaJizd.Models.Accidents>

@{
    ViewBag.Title = "Administrace";
}

<h1>Vítej v administraci</h1>

<div class="row">
    <div class="col-sm-3">
        @Html.ActionLink("Auta", "Cars", null, new { @class = "btn btn-success btn-lg btn-block" })
    </div>
    <div class="col-sm-3">
        @Html.ActionLink("Uživatelé", "Users", null, new { @class = "btn btn-success btn-lg btn-block" })
    </div>
    <div class="col-sm-3">
        @Html.ActionLink("Jízdy", "Drives", null, new { @class = "btn btn-success btn-lg btn-block" })
    </div>
    <div class="col-sm-3">
        @Html.ActionLink("Nehody", "Accidents", null, new { @class = "btn btn-success btn-lg btn-block" })
    </div>
</div>