@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Zahajit jízdu</h2>
        <p>
            @Html.ActionLink("Vyber auto", "../Cars", null, new { @class = "btn btn-primary btn-block" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Prohlídni si své jízdy</h2>
        <p>
            @Html.ActionLink("Mé jízdy", "../Drives", null, new { @class = "btn btn-primary btn-block" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Můj účet</h2>
        <p>
            @Html.ActionLink("Můj účet", "../Manage", null, new { @class = "btn btn-primary btn-block" })
        </p>
    </div>


</div>