@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Pracuj s autem</h2>
        <p><a class="btn btn-default" href="/cars">Auta &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zaznamenej jízdu</h2>
        <p><a class="btn btn-default" href="/Drives">Jízda &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registruj zaměstnance</h2>
        <p><a class="btn btn-default" href="/Account/Register">Registruj zaměstnance &raquo;</a></p>
    </div>


</div>